.container {
    padding: 0px 16px;
    margin: 0 380px;
}

.d-flex {
    display: flex;
}

.ul {
    list-style: none;
    padding-left: 0;
}

.title {
    font-size: 15px;
    line-height: 15px;
    padding: 0 10px 0 2px;
}

.img-icon {
    width: 20px;
    height: 20px;
    opacity: 0.6;
}

.p-4p {
    padding: 0 4px;
}

.p-6p{}
