.headerTop {
    background-color: #f5f5f5;
}

.headerContact {
    height: 45px;
    justify-content: space-between;
    vertical-align: middle;
}

.headerFrom {
    background-color: red;
}

.titleShip {
    font-size: 11px;
    line-height: 26px;
    padding-left: ;
}
