.css-to4x1n-MuiBadge-badge {
    min-width: 15px !important;
    height: 15px !important;
    background-color: #ff6f61 !important;
}

.css-uvvswg-MuiButtonBase-root-MuiAccordionSummary-root {
    background-color: #fff !important;
    flex-direction: inherit;
    padding: 0 !important;
}

.css-z9uefa-MuiButtonBase-root-MuiAccordionSummary-root {
    padding: 12px 0 !important;
    min-height: 0 !important;
    border-bottom: 1px solid #e5e5e5 !important;
}

.children .MuiPaper-root .css-z9uefa-MuiButtonBase-root-MuiAccordionSummary-root {
    margin-top: 15px !important;
    padding: 0 !important;
    border-bottom: none !important;
}

.children .MuiPaper-root .MuiAccordionSummary-expandIconWrapper {
    display: none !important;
}

.css-1betqn-MuiAccordionSummary-content {
    margin: 0 !important;
}

.css-ahj2mt-MuiTypography-root,
.css-w8dmq8 {
    font-family: 'Jost', sans-serif !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root,
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
    color: #000 !important;
}

.css-1wr5dqe-MuiFormControl-root {
    min-width: 120px !important;
}

.nav.default-nav {
    display: none !important;
}

.react-slideshow-container + ul.indicators {
    // background-color: #e5e5e5;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
}

.react-slideshow-container + ul.indicators li {
    margin: 0 3px !important;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected,
.react-slideshow-container + ul.indicators .each-slideshow-indicator:before {
    color: #fff;
    background-color: #ff6f61 !important;
}

.notFound_icon {
    width: 4rem !important;
    height: 4rem !important;
}

.css-heg063-MuiTabs-flexContainer {
    justify-content: center;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #ff6f61 !important;
}

.css-1aquho2-MuiTabs-indicator {
    background-color: #ff6f61 !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    text-transform: none !important;
}

.css-iljtu2-MuiRating-root {
    font-size: 20px !important;
    color: #000 !important;
}

.select::after {
    margin-right: 5px;
}

.css-i4bv87-MuiSvgIcon-root.shoppingIcon {
    font-size: 4rem;
    animation: changeColor 3s infinite;
}

@keyframes changeColor {
    0% {
        color: green;
        opacity: 0.5;
    }
    100% {
        color: green;
        opacity: 1;
    }
}
